$color1: #313133; // dark gray
$color2: #4B4A4D; // light gray
$color3: #fcfcfc; // white

@keyframes header
{
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes page
{
    0% { bottom: -100%; }
    100% { bottom: 0; }
}

@keyframes content
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $color1;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
}

a
{
    color: inherit;
    text-decoration: none;
}

#text-container
{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: header .3s .6s;
    animation-fill-mode: both;

    h1
    {
        color: $color2;
        text-align: center;
        line-height: 4rem;
        font-weight: 900;

        &:first-of-type
        {
            font-size: 6rem;
            $spacing: 1rem;
            letter-spacing: $spacing;
            text-indent: $spacing;
        }

        &:nth-of-type(2)
        {
            font-size: 3rem;
            $spacing: .7rem;
            letter-spacing: $spacing;
            text-indent: $spacing;
            transform: scaleY(1.2);
        }
    }

    h2
    {
        color: $color2;
        font-size: 1.1rem;
        $spacing: .1rem;
        letter-spacing: $spacing;
        text-indent: $spacing;
    }

    h1, h2
    {
        text-shadow: 0 3px rgba(0, 0, 0, .3);
    }
}

#page
{
    background-color: $color3;
    width: 375px;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 7%;
    $radius: 40px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    animation: .3s ease-in-out 0s forwards page;

    #pageheader
    {
        width: 100%;
        margin: 0 auto;
        $space: 20%;
        padding-top: $space;
        margin-bottom: $space / 2;
        display: flex;
        justify-content: space-between;

        h3
        {
            text-align: center;
            font-size: 1.2rem;
            $spacing: .25rem;
            letter-spacing: $spacing;
            text-indent: $spacing;
        }

        #leftarrow, #rightarrow
        {
            cursor: pointer;
        }
    }

    #viewbox
    {
        width: 100%;
        height: 100%;
        background-image: url('cssanimations.png');
        $bgheight: 125%;
        background-size: $bgheight * 1.6 $bgheight;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-size .3s;
        box-shadow: inset 0 0 10px 0 black;

        &:hover
        {
            background-size: 160% 100%;

            #overlay
            {
                opacity: 0;
            }
        }

        #overlay
        {
            background-color: $color1;
            width: 100%;
            height: 100%;
            opacity: .6;
            transition: opacity .3s;
            pointer-events: none;
        }
    }

    & > *
    {
        animation: content .3s .3s;
        animation-fill-mode: both;
    }
}

@media (min-width: 576px)
{

}

@media (min-width: 768px)
{

}

@media (min-width: 992px)
{

}

@media (min-width: 1200px)
{

}
